Tablas de sonido/~$Tabla_metadatos_no_lineal.xlsx
Tablas de sonido/~$CueSheet_nolineal.xlsx
Tablas de sonido/~$o de la tablas.docx
Material de Sonido/Tablas de sonido/~$Tabla_metadatos_no_lineal.xlsx
Juego/librerias/catopengl/lib/libcatopengl.a
Juego/librerias/catopengl/lib/libcatopengl.a
Juego/librerias/catopengl/inc/Ventana.hpp
Juego/librerias/catopengl/inc/TPlano.hpp
Juego/librerias/catopengl/inc/TMalla.hpp
Juego/librerias/catopengl/inc/Interfaz.hpp
Documentacion/~$Presupuesto.xlsx